[submodule "sauvc"]
	path = sauvc
	url = git@github.com:hidronautics/sauvc.git
[submodule "AUV-ROV_simple_simulator"]
	path = AUV-ROV_simple_simulator
	url = git@github.com:hidronautics/AUV-ROV_simple_simulator.git
